*.o
*.d
/autom4te.cache
/build
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure~
/libzone.a
/make.dep
/.depend
/Makefile
/include/zone/export.h
